.dark-background {
  background-color: black;
  color: white;
}
h1 {
    text-align: center;
    font-family: monospace;
    font-weight: normal;
}
h2 {
    text-align: left;
    font-family: monospace;
    font-weight: normal;
	font-size: 28px;
}
h3 {
    text-align: left;
    font-family: monospace;
    font-weight: normal;
	font-size: 16px;
}
.bottom-view {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.transactions ul {
    list-style-position: inside;
}

.highest-expense {
    background-color: #ffcccc; 
    color: #dc3545;             
    font-weight: bold;
}